@page "/provincias/create/{CountryId:int}"

<h3>Crear Nueva Provincia</h3>

<FormWihtName @ref="provinciaForm" Label="Nombre Provincia:" Model="provincia" OnValidSubmit="CreateAsync" ReturnAction="Return" />

