@* @page "/logout"
<h3>Cerrando sesion....</h3>
 *@

<MudDialog>
    <DialogContent>
        <MudText Typo="Typo.h5">¿Esta Seguro de cerrar sesiòn?</MudText>
        <MudText Typo="Typo.body2">tendras que volver a inicias de nuevo para acceder a tu cuenta</MudText>
    </DialogContent>
    <DialogActions>
        <MudButton Variant="Variant.Outlined" Color="Color.Tertiary" OnClick="CancelAction">Cancelar</MudButton>
        <MudSpacer />
        <MudButton Variant="Variant.Outlined" Color="Color.Error" OnClick="LogoutActionAsync">Cerrar Sesión</MudButton>
    </DialogActions>
</MudDialog>



