@page "/document/edit/{Id:int}"
<h3>Editar País</h3>
@* no puedo tirar el formulario de una porque el country es null se puede demorar un segundo por eso hago la pregunta *@
@if(image is null)
{
    <Loading />
}else
{
    <DocumentForm @ref="documentForm" Image="image" ReturnAction="Return"  OnvalidSubmit="EditAsync" />
}

