<MudCardContent>
    <div style="display: flex; justify-content: center; align-items: center; height: 100%;">
        <MudImage Src="images/779781883952778b25974baa3cf7679c.gif" Height="250" Width="250" />
    </div>
</MudCardContent>