@page "/countries/create"

<h3>Crear País</h3>

<FormWihtName @ref="countryForm" Label="Pais" Model="country" OnValidSubmit="CreateAsync" ReturnAction="Return" />


@* <CountryForm @ref="countryForm" Country="country" OnValidSubmit="CreateAsync" ReturnAction="Return" /> *@

