@page "/countries"

@* 
<h3>Paises</h3>
<div class="mb-3">
    <a class="btn btn-primary mb-3" href="/countries/create">Nuevo País</a>
</div>
 *@
@* @if (Countries == null)
{
    <p>Cargado...</p>
} *@

<GenericList MyList="Countries">
    <Body>
        <div class="card">
        <div class="card-header">
            <span>
                    <i class="bi bi-map" /> Paises
                    <a class="btn btn-sm btn-primary float-end" href="/countries/create"><i class="oi oi-plus" /> Nuevo Pais</a>

            </span>
        </div>
        <div class="card-body">
            <div class="mb-2" style="display: flex; flex-wrap:wrap; align-items: center;">
                <div>
                   
                </div>
                <div class="mx-1">
                   
                </div>
            </div>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th></th>
                    <th>País</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var country in Countries!)
                {
                    <tr>
                        <td>
                            @country.Name
                            
                        </td>
                        <td>
                            <a href="/countries/edit/@country.Id" class="btn btn-warning">Editar</a>
                            <button @onclick=@(()=>DeleteAsync(country))  class="btn btn-danger">Borrar</button>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
            </div>
        </div>
    </Body>
</GenericList>


